
body
{
	background-color: black;
	color: silver;
}

.cmAreaTblEntry
{
	text-align: center;
	font-size: 12pt;
}

.cmPlayerListEntry
{
	font-size: 10pt;
}

.cmPlayerListEntryArchon
{
	font-size: 12pt;
	font-weight: bolder;
}