Span{   font-family: courier;   font-size: 10; background-color: black; color: yellow;}
.BKBK{ background-color: black; color: black; }
.BKWH{ background-color: black; color: white; }
.BKLG{ background-color: black; color: lightgreen; }
.BKLB{ background-color: black; color: blue; }
.BKLR{ background-color: black; color: red; }
.BKYL{ background-color: black; color: yellow; }
.BKLC{ background-color: black; color: cyan; }
.BKLP{ background-color: black; color: violet; }
.BKGY{ background-color: black; color: lightgrey; }
.BKGR{ background-color: black; color: green; }
.BKBL{ background-color: black; color: #000099; }
.BKRD{ background-color: black; color: #993300; }
.BKBR{ background-color: black; color: #999966; }
.BKCY{ background-color: black; color: darkcyan; }
.BKPU{ background-color: black; color: purple; }
.BKDG{ background-color: black; color: gray; }
.WHBK{ background-color: white; color: black; }
.WHWH{ background-color: white; color: white; }
.WHLG{ background-color: white; color: lightgreen; }
.WHLB{ background-color: white; color: blue; }
.WHLR{ background-color: white; color: red; }
.WHYL{ background-color: white; color: yellow; }
.WHLC{ background-color: white; color: cyan; }
.WHLP{ background-color: white; color: violet; }
.WHGY{ background-color: white; color: lightgrey; }
.WHGR{ background-color: white; color: green; }
.WHBL{ background-color: white; color: #000099; }
.WHRD{ background-color: white; color: #993300; }
.WHBR{ background-color: white; color: #999966; }
.WHCY{ background-color: white; color: darkcyan; }
.WHPU{ background-color: white; color: purple; }
.WHDG{ background-color: white; color: gray; }
.LGBK{ background-color: lightgreen; color: black; }
.LGWH{ background-color: lightgreen; color: white; }
.LGLG{ background-color: lightgreen; color: lightgreen; }
.LGLB{ background-color: lightgreen; color: blue; }
.LGLR{ background-color: lightgreen; color: red; }
.LGYL{ background-color: lightgreen; color: yellow; }
.LGLC{ background-color: lightgreen; color: cyan; }
.LGLP{ background-color: lightgreen; color: violet; }
.LGGY{ background-color: lightgreen; color: lightgrey; }
.LGGR{ background-color: lightgreen; color: green; }
.LGBL{ background-color: lightgreen; color: #000099; }
.LGRD{ background-color: lightgreen; color: #993300; }
.LGBR{ background-color: lightgreen; color: #999966; }
.LGCY{ background-color: lightgreen; color: darkcyan; }
.LGPU{ background-color: lightgreen; color: purple; }
.LGDG{ background-color: lightgreen; color: gray; }
.LBBK{ background-color: blue; color: black; }
.LBWH{ background-color: blue; color: white; }
.LBLG{ background-color: blue; color: lightgreen; }
.LBLB{ background-color: blue; color: blue; }
.LBLR{ background-color: blue; color: red; }
.LBYL{ background-color: blue; color: yellow; }
.LBLC{ background-color: blue; color: cyan; }
.LBLP{ background-color: blue; color: violet; }
.LBGY{ background-color: blue; color: lightgrey; }
.LBGR{ background-color: blue; color: green; }
.LBBL{ background-color: blue; color: #000099; }
.LBRD{ background-color: blue; color: #993300; }
.LBBR{ background-color: blue; color: #999966; }
.LBCY{ background-color: blue; color: darkcyan; }
.LBPU{ background-color: blue; color: purple; }
.LBDG{ background-color: blue; color: gray; }
.LRBK{ background-color: red; color: black; }
.LRWH{ background-color: red; color: white; }
.LRLG{ background-color: red; color: lightgreen; }
.LRLB{ background-color: red; color: blue; }
.LRLR{ background-color: red; color: red; }
.LRYL{ background-color: red; color: yellow; }
.LRLC{ background-color: red; color: cyan; }
.LRLP{ background-color: red; color: violet; }
.LRGY{ background-color: red; color: lightgrey; }
.LRGR{ background-color: red; color: green; }
.LRBL{ background-color: red; color: #000099; }
.LRRD{ background-color: red; color: #993300; }
.LRBR{ background-color: red; color: #999966; }
.LRCY{ background-color: red; color: darkcyan; }
.LRPU{ background-color: red; color: purple; }
.LRDG{ background-color: red; color: gray; }
.YLBK{ background-color: yellow; color: black; }
.YLWH{ background-color: yellow; color: white; }
.YLLG{ background-color: yellow; color: lightgreen; }
.YLLB{ background-color: yellow; color: blue; }
.YLLR{ background-color: yellow; color: red; }
.YLYL{ background-color: yellow; color: yellow; }
.YLLC{ background-color: yellow; color: cyan; }
.YLLP{ background-color: yellow; color: violet; }
.YLGY{ background-color: yellow; color: lightgrey; }
.YLGR{ background-color: yellow; color: green; }
.YLBL{ background-color: yellow; color: #000099; }
.YLRD{ background-color: yellow; color: #993300; }
.YLBR{ background-color: yellow; color: #999966; }
.YLCY{ background-color: yellow; color: darkcyan; }
.YLPU{ background-color: yellow; color: purple; }
.YLDG{ background-color: yellow; color: gray; }
.LCBK{ background-color: cyan; color: black; }
.LCWH{ background-color: cyan; color: white; }
.LCLG{ background-color: cyan; color: lightgreen; }
.LCLB{ background-color: cyan; color: blue; }
.LCLR{ background-color: cyan; color: red; }
.LCYL{ background-color: cyan; color: yellow; }
.LCLC{ background-color: cyan; color: cyan; }
.LCLP{ background-color: cyan; color: violet; }
.LCGY{ background-color: cyan; color: lightgrey; }
.LCGR{ background-color: cyan; color: green; }
.LCBL{ background-color: cyan; color: #000099; }
.LCRD{ background-color: cyan; color: #993300; }
.LCBR{ background-color: cyan; color: #999966; }
.LCCY{ background-color: cyan; color: darkcyan; }
.LCPU{ background-color: cyan; color: purple; }
.LCDG{ background-color: cyan; color: gray; }
.LPBK{ background-color: violet; color: black; }
.LPWH{ background-color: violet; color: white; }
.LPLG{ background-color: violet; color: lightgreen; }
.LPLB{ background-color: violet; color: blue; }
.LPLR{ background-color: violet; color: red; }
.LPYL{ background-color: violet; color: yellow; }
.LPLC{ background-color: violet; color: cyan; }
.LPLP{ background-color: violet; color: violet; }
.LPGY{ background-color: violet; color: lightgrey; }
.LPGR{ background-color: violet; color: green; }
.LPBL{ background-color: violet; color: #000099; }
.LPRD{ background-color: violet; color: #993300; }
.LPBR{ background-color: violet; color: #999966; }
.LPCY{ background-color: violet; color: darkcyan; }
.LPPU{ background-color: violet; color: purple; }
.LPDG{ background-color: violet; color: gray; }
.GYBK{ background-color: lightgrey; color: black; }
.GYWH{ background-color: lightgrey; color: white; }
.GYLG{ background-color: lightgrey; color: lightgreen; }
.GYLB{ background-color: lightgrey; color: blue; }
.GYLR{ background-color: lightgrey; color: red; }
.GYYL{ background-color: lightgrey; color: yellow; }
.GYLC{ background-color: lightgrey; color: cyan; }
.GYLP{ background-color: lightgrey; color: violet; }
.GYGY{ background-color: lightgrey; color: lightgrey; }
.GYGR{ background-color: lightgrey; color: green; }
.GYBL{ background-color: lightgrey; color: #000099; }
.GYRD{ background-color: lightgrey; color: #993300; }
.GYBR{ background-color: lightgrey; color: #999966; }
.GYCY{ background-color: lightgrey; color: darkcyan; }
.GYPU{ background-color: lightgrey; color: purple; }
.GYDG{ background-color: lightgrey; color: gray; }
.GRBK{ background-color: green; color: black; }
.GRWH{ background-color: green; color: white; }
.GRLG{ background-color: green; color: lightgreen; }
.GRLB{ background-color: green; color: blue; }
.GRLR{ background-color: green; color: red; }
.GRYL{ background-color: green; color: yellow; }
.GRLC{ background-color: green; color: cyan; }
.GRLP{ background-color: green; color: violet; }
.GRGY{ background-color: green; color: lightgrey; }
.GRGR{ background-color: green; color: green; }
.GRBL{ background-color: green; color: #000099; }
.GRRD{ background-color: green; color: #993300; }
.GRBR{ background-color: green; color: #999966; }
.GRCY{ background-color: green; color: darkcyan; }
.GRPU{ background-color: green; color: purple; }
.GRDG{ background-color: green; color: gray; }
.BLBK{ background-color: #000099; color: black; }
.BLWH{ background-color: #000099; color: white; }
.BLLG{ background-color: #000099; color: lightgreen; }
.BLLB{ background-color: #000099; color: blue; }
.BLLR{ background-color: #000099; color: red; }
.BLYL{ background-color: #000099; color: yellow; }
.BLLC{ background-color: #000099; color: cyan; }
.BLLP{ background-color: #000099; color: violet; }
.BLGY{ background-color: #000099; color: lightgrey; }
.BLGR{ background-color: #000099; color: green; }
.BLBL{ background-color: #000099; color: #000099; }
.BLRD{ background-color: #000099; color: #993300; }
.BLBR{ background-color: #000099; color: #999966; }
.BLCY{ background-color: #000099; color: darkcyan; }
.BLPU{ background-color: #000099; color: purple; }
.BLDG{ background-color: #000099; color: gray; }
.RDBK{ background-color: #993300; color: black; }
.RDWH{ background-color: #993300; color: white; }
.RDLG{ background-color: #993300; color: lightgreen; }
.RDLB{ background-color: #993300; color: blue; }
.RDLR{ background-color: #993300; color: red; }
.RDYL{ background-color: #993300; color: yellow; }
.RDLC{ background-color: #993300; color: cyan; }
.RDLP{ background-color: #993300; color: violet; }
.RDGY{ background-color: #993300; color: lightgrey; }
.RDGR{ background-color: #993300; color: green; }
.RDBL{ background-color: #993300; color: #000099; }
.RDRD{ background-color: #993300; color: #993300; }
.RDBR{ background-color: #993300; color: #999966; }
.RDCY{ background-color: #993300; color: darkcyan; }
.RDPU{ background-color: #993300; color: purple; }
.RDDG{ background-color: #993300; color: gray; }
.BRBK{ background-color: #999966; color: black; }
.BRWH{ background-color: #999966; color: white; }
.BRLG{ background-color: #999966; color: lightgreen; }
.BRLB{ background-color: #999966; color: blue; }
.BRLR{ background-color: #999966; color: red; }
.BRYL{ background-color: #999966; color: yellow; }
.BRLC{ background-color: #999966; color: cyan; }
.BRLP{ background-color: #999966; color: violet; }
.BRGY{ background-color: #999966; color: lightgrey; }
.BRGR{ background-color: #999966; color: green; }
.BRBL{ background-color: #999966; color: #000099; }
.BRRD{ background-color: #999966; color: #993300; }
.BRBR{ background-color: #999966; color: #999966; }
.BRCY{ background-color: #999966; color: darkcyan; }
.BRPU{ background-color: #999966; color: purple; }
.BRDG{ background-color: #999966; color: gray; }
.CYBK{ background-color: darkcyan; color: black; }
.CYWH{ background-color: darkcyan; color: white; }
.CYLG{ background-color: darkcyan; color: lightgreen; }
.CYLB{ background-color: darkcyan; color: blue; }
.CYLR{ background-color: darkcyan; color: red; }
.CYYL{ background-color: darkcyan; color: yellow; }
.CYLC{ background-color: darkcyan; color: cyan; }
.CYLP{ background-color: darkcyan; color: violet; }
.CYGY{ background-color: darkcyan; color: lightgrey; }
.CYGR{ background-color: darkcyan; color: green; }
.CYBL{ background-color: darkcyan; color: #000099; }
.CYRD{ background-color: darkcyan; color: #993300; }
.CYBR{ background-color: darkcyan; color: #999966; }
.CYCY{ background-color: darkcyan; color: darkcyan; }
.CYPU{ background-color: darkcyan; color: purple; }
.CYDG{ background-color: darkcyan; color: gray; }
.PUBK{ background-color: purple; color: black; }
.PUWH{ background-color: purple; color: white; }
.PULG{ background-color: purple; color: lightgreen; }
.PULB{ background-color: purple; color: blue; }
.PULR{ background-color: purple; color: red; }
.PUYL{ background-color: purple; color: yellow; }
.PULC{ background-color: purple; color: cyan; }
.PULP{ background-color: purple; color: violet; }
.PUGY{ background-color: purple; color: lightgrey; }
.PUGR{ background-color: purple; color: green; }
.PUBL{ background-color: purple; color: #000099; }
.PURD{ background-color: purple; color: #993300; }
.PUBR{ background-color: purple; color: #999966; }
.PUCY{ background-color: purple; color: darkcyan; }
.PUPU{ background-color: purple; color: purple; }
.PUDG{ background-color: purple; color: gray; }
